{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'home/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'home/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'home/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="{% static 'home/dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark" style="margin-left: 0px;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link" id="logout-btn">Logout</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="page-wrapper" style="margin-left: 6vw; margin-right: 6vw;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid" style="margin-top: 9vh;">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">CHATBOT</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <!-- USERS LIST -->
                <div class="card">
                  <div class="card-header">
                    <h1 class="card-title">Tugas Mengerjakan Chatbot</h1>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0" style="margin-left: 1vw; margin-right: 1vw;">
                    <p>Pembuatan chatbot ini dimaksudkan untuk memenuhi tugas yang diberikan oleh tim Prosa AI dalam seleksi penerimaan kerja sebagai Backend Engineer. Adapun tema dari pembicaraan ada dua macam, yaitu yang pertama seputar sapa dan mengajukan pertanyaan mengenai Prosa AI, yang mana datanya diambil dari halaman website FAQ Prosa AI. Jika ada pertanyaan yang tidak dipahami atau tidak ada dalam database, maka chatbot akan mengembalikan pesan 'Maaf masih belum mengerti :('. Berikut beberapa pesan yang dapat direspon:</p>
                    <ul>
                      <li>Apa kabar?</li>
                      <li>Baik ko</li>
                      <li>Boleh nanya ga?</li>
                      <li>Apa sih bedanya prosa ai dengan yang lain?</li>
                      <li>Ada layanan apa di prosa ai?</li>
                      <li>Saya pengen hapus akun nih</li>
                      <li>Gimana kalau saya ga bayar tagihan?</li>
                    </ul>
                    <p>Sedangkan yang kedua, chatbot bisa merespon percakapan bahasa kekinian, untuk menjalankannya dapat dengan kata kunci "gaul=" lalu diikuti pesan, contoh "gaul=pulang kuliah ada acara gak?". Berikut beberapa pesan yang dapat direspon dengan bahasa kekinian:</p>
                    <ul>
                      <li>cuy, pulang kuliah ada acara gak?</li>
                      <li>gue mau beli makan, nitip apa?</li>
                      <li>nanti malem ngerjain laporan praktikum bareng yuk, kamu mau ngga?</li>
                      <li>sore nanti mau join main badmintonan ngga?</li>
                      <li>sabtu minggu gue kayanya mau keluar kota deh, ada saran tempat ga?</li>
                      <li>laptop gue rusak harus banget diservice, kalau besok gue izin cuti mendadak bakal dikasih ga, ya?</li>
                      <li>malem skuy ga nih?</li>
                      <li>siang ini ada yang mau makan di warung mie?</li>
                      <li>gue traktir es kopi ya, lo mau pesan apa?</li>
                      <li>dari minimarket terus kemana ya kak?</li>
                      <li>lo tinggal di mana sekarang?</li>
                      <li>tadi gue liat lo di stasiun, mau kemana?</li>
                      <li>berangkat dari kost jam berapa?</li>
                      <li>mau balik bareng ga?</li>
                      <li>tugas dikumpul kapan?</li>
                      <li>hari ini ga gawe, lo sakit ya?</li>
                      <li>ada paket nih, gue titipin ke satpam depan aja ya?</li>
                      <li>lo ditanya dosen, kenapa ga masuk hari ini?</li>
                      <li>sore bisa anter gue ke dokter ga?</li>
                      <li>kapan balik kampung?</li>
                      <li>mau makan malam di mana?</li>
                      <li>libur tahun baru mau ke mana?</li>
                      <li>nanti aku mau telepon kamu ya.</li>
                      <li>sibuk banget, ya, kapan ada waktu?</li>
                      <li>hari ini gue nitip kucing ya.</li>
                      <li>mau nonton sama doi.</li>
                      <li>serius lo lupa?</li>
                      <li>es kopi titipan gue mana?</li>
                      <li>lo baik-baik aja kan?</li>
                      <li>lo beneran mau sendiri?</li>
                      <li>kuat ga bawa barang sebanyak ini?</li>
                      <li>tempatnya jauh, lo kuat jalan kaki?</li>
                      <li>masakan gue enak ga?</li>
                      <li>barang elektronik lagi banyak promo ya?</li>
                      <li>pergi sama siapa?</li>
                      <li>mau nonton sama siapa?</li>
                      <li>nanti jadi reuni ga sih?</li>
                      <li>akhir tahun lo ada rencana ke luar negeri ga?</li>
                      <li>lusa jadi jogging kan?</li>
                    </ul>
                    <p>Terimakasih banyak atas kesempatan yang sudah diberikan.</p>
                    <!-- /.users-list -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
                    All rights reserved.
                    <div class="float-right d-none d-sm-inline-block">
                      <b>Version</b> 3.2.0-rc
                    </div>
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!--/.card -->
              </div>
              <!-- /.col -->

              <div class="col-md-4">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                    <img class="direct-chat-img" src="{{pp_obot}}" alt="message user image">
                    <h3 class="card-title" style="margin-left: 1vw; margin-top: 1.5vh;">Obot si Robot</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" style="min-height: 350px;" id="message_box">
                    </div>
                    <!--/.direct-chat-messages-->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <div class="input-group">
                      <input type="text" placeholder="Ketik disini ..." class="form-control" id="message">
                      <span class="input-group-append">
                        <button type="button" class="btn btn-warning" id="send">Send</button>
                      </span>
                    </div>
                  </div>
                  <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<input type="hidden" value="{{server_link}}" id="server_link">
<span style="display:none;" id="pp_obot">{{pp_obot}}</span>
<span style="display:none;" id="pp_user">{{pp_user}}</span>
<span style="display:none;" id="csrf_token">{{csrf_token}}</span>

<script>
  var tmp_token = "{{token}}";
</script>

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'home/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'home/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'home/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'home/dist/js/adminlte.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'home/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'home/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'home/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'home/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'home/plugins/chart.js/Chart.min.js' %}"></script>

<script src="{% static 'home/chat.js' %}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{% static 'home/dist/js/demo.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'home/dist/js/pages/dashboard2.js' %}"></script>
</body>
</html>
