{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'home/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'home/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'home/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="{% static 'home/dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark" style="margin-left: 0px;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block {{page_login}}">
        <a href="{% url 'account:login' %}?exist=no" class="nav-link">Masuk</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block {{page_register}}">
        <a href="{% url 'account:register' %}" class="nav-link">Daftar</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  {% block content %}
  {% endblock %}

</div>
<!-- ./wrapper -->
<input type="hidden" value="{{server_link}}" id="server_link">
<span style="display:none;" id="csrf_token">{{csrf_token}}</span>

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'home/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'home/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'home/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'home/dist/js/adminlte.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'home/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'home/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'home/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'home/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'home/plugins/chart.js/Chart.min.js' %}"></script>

{% block javascript %}
{% endblock %}

<!-- AdminLTE for demo purposes -->
<script src="{% static 'home/dist/js/demo.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'home/dist/js/pages/dashboard2.js' %}"></script>
</body>
</html>
