{% extends 'account/base.html' %}

{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="page-wrapper" style="margin-left: 6vw; margin-right: 6vw;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid text-center" style="margin-top: 12vh;">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0">DAFTAR</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <!-- left column -->
          <div class="col-md-6 offset-md-3">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="form-group">
                  	<div class="row">
                    	<div class="col-md-6"><label for="first_name">Nama Depan</label></div>
                    	<div class="col-md-6"><label for="last_name">Nama Belakang</label></div>
                  	</div>
                  	<div class="row">
                    	<div class="col-md-6"><input type="text" class="form-control" id="first_name" placeholder="Masukkan Nama Depan"></div>
                    	<div class="col-md-6"><input type="text" class="form-control" id="last_name" placeholder="Masukkan Nama Belakang"></div>
                  	</div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Masukkan Email">
                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Masukkan Username">
                  </div>
                  <div class="form-group">
                  	<div class="row">
                    	<div class="col-md-6"><label for="password1">Password</label></div>
                    	<div class="col-md-6"><label for="password2">Ulangi Password</label></div>
                  	</div>
                  	<div class="row">
                    	<div class="col-md-6"><input type="password" class="form-control" id="password1" placeholder="Masukkan Password"></div>
                    	<div class="col-md-6"><input type="password" class="form-control" id="password2" placeholder="Ketik Ulang Password"></div>
                  	</div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" id="register-btn">Daftar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block javascript %}
  <script src="{% static 'account/register.js' %}"></script>
{% endblock %}